.container {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    height: 100%;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        h2 {
            margin: 0;
            font-size: 1.5em;
        }

        button {
            padding: 8px 12px;
            font-size: 1em;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            background-color: #007bff;
            color: white;
        }
    };
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}