main {
    display: flex;
    gap: 30px;
    border: 2px dashed black;

    app-card {
        flex: 1;
    }

    .users-list {
        display: flex;
        flex-direction: column;
        background-color: darkblue;
        color: white;
    }
}
