div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;

    &.active {
        background-color: lightblue;
    }

    &:hover {
        background-color: #f0f0f0;
        color: black;
        cursor: pointer;
    }

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

}